@import "./quasar.variables.scss";
@import "~quasar-styl";
// @import '~quasar-addon-styl';

/*  Global CSS */

:root {
  --primaryColor: #181818;
  --lightGray: #ececec;
  --customYellow: #ffbf5f;
  --vehicleColor: #dd4cf4;
  --machineColor: #1c5dbe;
  --eletronicsColor: #d75e2b;
  --customGreen: #009217;
}

* {
  margin: 0;
  border: 0;
}

body {
  font-family: "-apple-system", sans-serif !important;
}

.bold {
  font-weight: bold !important;
}

.normal {
  font-weight: normal !important;
}

.formatSp {
  margin: 0;
  padding: 0;
}

.space10 {
  margin: 0 0 10px !important;
}

/* Main CSS */

.ghostWhite {
  background-color: whitesmoke !important;
}

.headerIcon {
  font-size: 28px;
}

/* Card CSS */

.my-card {
  width: 100%;
}

.sectionCardPadding {
  padding: 16px 16px 0 16px !important;
}

.cardShadow {
  box-shadow: 1px 2px 13px 0px #3333 !important;
}

.description {
  margin-top: 2vh;
}

.daysInput {
  margin-left: 1vh;
}

.doneCardAction {
  padding: 8px 16px !important;
}

.btnConfirm {
  margin-left: 1vh;
}

.btnDone {
  margin-right: 8px;
}

.btnDocs {
  margin-left: 16px;
}

.btnDetails {
  margin-left: 2vh;
}

/* Media CSS */

@media only screen and (max-width: 361px) {
  .header {
    justify-content: center;
  }

  .headerSb {
    margin-top: 1vh;
  }

  .formatSp {
    display: none;
  }
}

@media only screen and (min-width: 361px) {
  .footerDataCt {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  #tasks,
  #doneTasks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .cardContainer {
    width: 33%;
    max-width: 33%;
  }
}
